{% extends "LIFOClassifBundle::layoutAdmin.html.twig" %}

{% block LIFOClassif_body %}

<div class="well">
{%  if messageImportant != "" %}
  <div class="alert alert-warning" role="alert">
	<strong>Attention ! </strong>{{messageImportant}}
  </div>
{%  endif %}
  {{ form_start(formAddUser, {'attr': {'class': 'form-horizontal'}}) }}
  {{ form_errors(formAddUser) }}
  <fieldset>
  	<legend>&nbsp;&nbsp;Ajouter un utilisateur</legend>
  	<div class="form-group">
  	  <div class="col-sm-6">
	    <b>&nbsp;Nom d'utilisateur&nbsp;&nbsp;</b>
        {{ form_errors(formAddUser.utilisateur.username) }}
   	  </div>
 	  <div class="col-sm-6">
	    <b>&nbsp;Role&nbsp;&nbsp;</b>
    	{{ form_errors(formAddUser.role) }}
  	  </div>
      <div class="col-sm-6">
        {{ form_widget(formAddUser.utilisateur.username) }}
      </div>
      <div class="col-sm-6">
        {{ form_widget(formAddUser.role) }}
      </div>
    </div>
  	<div class="form-group">
      <div class="col-sm-6">
	    <b>&nbsp;Mot de passe&nbsp;&nbsp;</b>
      </div>
      <div class="col-sm-6">
	    <b>&nbsp;Répéter le mot de passe&nbsp;&nbsp;</b>
      </div>
      <div class="col-sm-6">
        {{ form_errors(formAddUser.utilisateur.password.first) }}
        {{ form_widget(formAddUser.utilisateur.password.first) }}
      </div>
      <div class="col-sm-6">
        {{ form_errors(formAddUser.utilisateur.password.second) }}
        {{ form_widget(formAddUser.utilisateur.password.second) }}
      </div>
    </div>
  </fieldset>
  {{ form_widget(formAddUser.valider, {'attr': {'class': 'btn btn-primary'}}) }}
  {{ form_rest(formAddUser) }}
  {{ form_end(formAddUser) }}
</div>

{% endblock %}