<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">
<title>{% block title %}Classification{% endblock %}</title>
<link href=" {{ asset('bootstrap/css/bootstrap.min.css') }}"
	rel="stylesheet">
<link href=" {{ asset ('bootstrap/css/bootstrap-theme.min.css') }}"
	rel="stylesheet">
<link href=" {{ asset ('styles/layout.css') }}" rel="stylesheet" />
<link href=" {{ asset ('styles/menu.css') }}" rel="stylesheet" />
</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top">

		<div class="container", id="menu_top">
					<ul class="nav navbar-nav">
						<li><a href="{{ path('lifo_classif_upload') }}">Upload</a></li>
						<li><a href="{{ path('lifo_classif_recherche') }}">Recherche</a></li>
						<li><a href="{{ path('lifo_classif_classification') }}">Classification</a></li>
						{% if is_granted('ROLE_ARCHEOLOGUE') %}
							<li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="{{ path('lifo_classif_parametres_typeDecor') }}">Paramètres<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="{{ path('lifo_classif_parametres_typeDecor') }}">Type de décor</a></li>
									<li><a href="{{ path('lifo_classif_parametres_positionDecor') }}">Position de décor</a></li>
								</ul>
							</li>
						{% endif %}
						{% if is_granted('ROLE_ADMIN') %}
							<li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="{{ path('lifo_classif_admin') }}">Administration<b class="caret"></b></a>
								<ul class="dropdown-menu">
					                <li role="separator" class="divider"></li>
					                <li class="dropdown-header">Utilisateur</li>
									<li><a href="{{ path('lifo_classif_admin_utilisateur_afficherTous') }}">Afficher la liste</a></li>
									<li><a href="{{ path('lifo_classif_admin_utilisateur') }}">Ajouter</a></li>
									<li><a href="{{ path('lifo_classif_admin_utilisateur_rechercher') }}">Rechercher</a></li>
								</ul>
							</li>
						{% endif %}
						<li><a href="{{ path('logout') }}">Déconnexion</a></li>
					</ul>
			</div>
		</div>
		<br /> <br />
	<div class="container theme-showcase" role="main">
			<div class="row">
				<div class="col-lg-3">
					<div class="menu">
						{% if app.user %}
						<h4>Derniers tessons ajoutés</h4>
						{{ render(controller("LIFOClassifBundle:Platform:menu")) }} {%
						endif %}
					</div>
				</div>

				<div id="content" class="col-lg-9">{% block body %} {% endblock %}</div>
			</div>

		{% block footer %} {% endblock %}

	</div>
	<script src=" {{ asset('bootstrap/js/jquery.min.js') }}"></script>
	<script src=" {{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>