{% extends "LIFOClassifBundle::layoutGeneral.html.twig" %}

{% block title %}{{ parent() }} - Numérisations{% endblock %}

{% block LIFOClassif_body %}

<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
  {{ form_errors(form) }}
  <fieldset>
  	<legend>&nbsp;&nbsp;Type de numérisations</legend>
  	<div class="form-group">
      <div class="col-sm-5">
      	<b>Type de numérisation manquant à afficher :</b>
      </div>
  	  <div class="col-sm-4">
    	{{ form_widget(form.typeNumerisation) }}
        {{ form_errors(form.typeNumerisation) }}
   	  </div>
    </div>
  </fieldset>
  {{ form_widget(form.afficher, {'attr': {'class': 'btn btn-primary'}}) }}
  {{ form_rest(form) }}
  {{ form_end(form) }}
</div>

<table class="table table-bordered table-striped table-hover">
	<thead align="middle"><tr class="warning"><td width=5%><b>ID tesson</b></td><td width=10%><b>Site</b><td width=10%><b>US</b></td><td width=10%><b>Numéro d'isolation</b></td><td width=10%><b>{{ typeNumerisation }}</b></td></tr></thead>
	<tbody>
	 {% for tesson in tessons %}
		<tr>
			<td><a href="{{ base_url ~path('lifo_classif_tesson', {'id': tesson.t_id}) }}">{{ tesson.t_id }}</a></td>
			<td>{{ tesson.site_codeINSEE|default('NO') }}&nbsp;{{ tesson.site_numSiteCommune|default('NO') }}</td>
			<td>{{ tesson.u_s_nom|default('NO') }}</td>
			<td>{{ tesson.t_numIsolation }}</td>
			<td><input type="file" id="tesson_numerisation_2_file" name="tesson[numerisation][2][file]"/></td>
		</tr>
	{% endfor %}
</table>



{% if nbPages > 0 %}
    <ul class="pagination">
        {% if page > 1 %}
            <li>
                <a href="{{ base_url ~path('lifo_classif_numerisations', {'page': 1, 'typeNumerisation': typeNumerisation}) }}">
                    <<
                </a>
            </li>
            <li>
                <a href="{{ base_url ~path('lifo_classif_numerisations', {'page': page-1, 'typeNumerisation': typeNumerisation}) }}">
                    <
                </a>
            </li>
        {% endif %}

        {# Affichage de toutes les pages entre p-4 et p+4 sauf si < 1 ou > nbPages #}
        {% for p in range(max(page-4, 1), min(page+4, nbPages)) %}
            <li {% if p == page %}class="active"{% endif %}>
                <a href="{{ base_url ~path('lifo_classif_numerisations', {'page': p, 'typeNumerisation': typeNumerisation}) }}">
                    {{ p }}
                </a>
            </li>
        {% endfor %}

        {% if page < nbPages %}
            <li>
                <a href="{{ base_url ~path('lifo_classif_numerisations', {'page': page+1, 'typeNumerisation': typeNumerisation}) }}">
                    >
                </a>
            </li>
            <li>
                <a href="{{ base_url ~path('lifo_classif_numerisations', {'page': nbPages, 'typeNumerisation': typeNumerisation}) }}">
                    >>
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}

{% endblock %}