{% extends "LIFOClassifBundle::layoutGeneral.html.twig" %}

{% block title %}{{ parent() }} - Numérisations{% endblock %}

{% block LIFOClassif_body %}

<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
  {{ form_errors(form) }}
  <fieldset>
  	<legend>&nbsp;&nbsp;Décor</legend>
  	<div class="form-group">
  	  <div class="col-sm-6">
	    <b>&nbsp;Type de numérisation&nbsp;&nbsp;</b>
        {{ form_errors(form.typeNumerisation) }}
   	  </div>
 	  <div class="col-sm-6">
    	{{ form_widget(form.typeNumerisation) }}
      </div>
    </div>
  </fieldset>
  {{ form_widget(form.afficher, {'attr': {'class': 'btn btn-primary'}}) }}
  {{ form_rest(form) }}
  {{ form_end(form) }}
</div>

<table class="table table-bordered table-striped table-hover">
	<thead align="middle"><tr class="warning"><td width=5%><b>ID tesson</b></td><td width=10%><b>Site</b><td width=10%><b>US</b></td><td width=10%><b>Numéro d'isolation</b></td></tr></thead>
	<tbody>
	 {% for tesson in tessons %}
		<tr>
			<td><a href="{{ path('lifo_classif_tesson', {'id': tesson.t_id}) }}">{{ tesson.t_id }}</a></td>
			<td>{{ tesson.site_codeINSEE|default('NO') }}&nbsp;{{ tesson.site_numSiteCommune|default('NO') }}</td>
			<td>{{ tesson.u_s_nom|default('NO') }}</td>
			<td>{{ tesson.t_numIsolation }}</td>
		</tr>
	{% endfor %}
</table>

<ul class="pagination">
        
                            <li class="active">
                <a href=" {{ path('lifo_classif_numerisations', {'page': page}) }}">
                	{{ page }}
                </a>
            </li>
               <li>
                <a href=" {{ path('lifo_classif_numerisations', {'page': page+1}) }}">
                	{{ page+1 }}
                </a>
            </li>
               <li>
                <a href=" {{ path('lifo_classif_numerisations', {'page': page+2}) }}">
                	{{ page+2 }}
                </a>
            </li>
               <li>
                <a href=" {{ path('lifo_classif_numerisations', {'page': page+3}) }}">
                	{{ page+3 }}
                </a>
            </li>
               <li>
                <a href=" {{ path('lifo_classif_numerisations', {'page': page+4}) }}">
                	{{ page+4 }}
                </a>
            </li>
                    <li>
                <a href="/Classification/web/app_dev.php/classification/2?typeNumerisationChoisi=Aucune&amp;typeClassifChoisi=Aucune&amp;tessonsClasses=0">
                    >
                </a>
            </li>
            <li>
                <a href="/Classification/web/app_dev.php/classification/137?typeNumerisationChoisi=Aucune&amp;typeClassifChoisi=Aucune&amp;tessonsClasses=0">
                    >>
                </a>
            </li>
            </ul>


{% endblock %}