{% extends "LIFOClassifBundle::layoutGeneral.html.twig" %}

{% block title %}{{ parent() }} - Classification{% endblock %}

{% block LIFOClassif_body %}

<br/>
<br/>
{% if tessons is not empty %}
	<table class="table table-bordered table-striped table-hover">
	<thead><tr class="warning" align="center"><td width=5%></td><td width=10%><b>ID tesson</b></td><td width=10%><b>Classe</b></td><td width=10%><b>Type classification</b></td></tr></thead>
	<tbody>
    {% for tesson in tessons %}
		<tr>
			<td>
			<a href="{{ path('lifo_classif_classification') }}">Classifier</a>
			</td>
			<td>{{ tesson.id }}</td>
			{% if tesson.propositionClasse is not empty %}
				{% for propClasse in tesson.propositionClasse %}
						<td>{{ propClasse.classe.nomClasse }}</td>
						{% if propClasse.essaiClassification is not empty %}
							{% for essaiClassif in propClasse.essaiClassification %}
								<td>{{ essaiClassif.typeClassification.nomType }}
							{% endfor %}
						{% else %}
							<td>Aucun essai de classification</td>
						{% endif %}
				{% endfor %}
			{% else %}
				<td>Aucune proposition de classe</td>
				<td>Aucun essai de classification</td>
			{% endif %}
		</tr>
    {% endfor %}
	</tbody>
	</table>
{% else %}
    <p>Il n'y a aucun tesson sans classification.</p>
{% endif %}

{% include 'LIFOClassifBundle::pagination.html.twig' %}

{% endblock %}