{% extends "LIFOClassifBundle::layoutGeneral.html.twig" %}

{% block title %}{{ parent() }} - Classification{% endblock %}

{% block LIFOClassif_body %}

<div class="well">
  {{ form_start(formClassif, {'attr': {'class': 'form-horizontal'}}) }}

  {{ form_errors(formClassif) }}
  <div class="form-group">
  	<div class="row">
	    {{ form_label(formClassif.typeClassification, "Classification", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
	    {{ form_errors(formClassif.typeClassification) }}
	    <div class="col-sm-4">
	      {{ form_widget(formClassif.typeClassification, {'attr': {'class': 'form-control'}}) }}
	    </div>
	    {{ form_label(formClassif.campagne, "Campagne", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
	    {{ form_errors(formClassif.campagne) }}
	    <div class="col-sm-4">
	      {{ form_widget(formClassif.campagne, {'attr': {'class': 'form-control'}}) }}
	    </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
    {{ form_label(formClassif.typeNumerisation, "Numérisation", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(formClassif.typeNumerisation) }}
	    <div class="col-sm-4">
	      {{ form_widget(formClassif.typeNumerisation, {'attr': {'class': 'form-control'}}) }}
	    </div>
	    <div class="col-sm-5" align ="right">
	      {{ form_row(formClassif.afficherTessonsClasses) }}
	    </div>
    </div>
  </div>
  {{ form_widget(formClassif.afficher, {'attr': {'class': 'btn btn-primary'}}) }}
  {{ form_rest(formClassif) }}
  {{ form_end(formClassif) }}
 </div>
 
{% if tessons is not empty %}
	<table class="table table-bordered table-striped table-hover">
	<thead align="middle"><tr class="warning"><td width=5%><b>ID tesson</b></td><td width=10%><b>Proposition</b><td width=10% colspan=2><b>Classe</b></td><td width=10%><b>Numérisation</b></td></tr></thead>
	<tbody>
    {% for tesson in tessons %}
		<tr>
			<td><a href="{{ path('lifo_classif_tesson', {'id': tesson.id}) }}">{{ tesson.id }}</a></td>
			{% if tesson.propositionClasse is not empty %}
				<td>
				{% for propClasse in tesson.propositionClasse %}
						{{ propClasse.classe.nomClasse }}
				{% endfor %}
				</td>
			{% else %}
				<td>Aucune proposition de classe</td>
			{% endif %}
			{%  if tesson.typageEn is not empty %}
				<td>
				{%  for typage in tesson.typageEn %}
					{% if typage.classe is not empty %}
						{{ typage.classe.nomClasse }}
					{% else %}
						Pas de classe
					{% endif %}
				{%  endfor %}
				</td>
			{% else %}
				<td>Pas de classe</td>
			{% endif %}
			<td width=1%>
				<a href="{{ path('lifo_classif_tesson', {'id': tesson.id}) }}" id="{{ tesson.id }}" class="btn btn-xs btn-info">+</a>
			</td>
			{% if typeNumerisation != "Aucune" %}
				{% if tesson.numerisation is not empty %}
					{% set break = false %}
					{% for numerisation in tesson.numerisation if not break %}
						{% if numerisation.typeNumerisation.nom == typeNumerisation %}
							<td>
							<a class="group" title=" {{ numerisation.alt }}" href="{{ asset(numerisation.webPath) }}">
							<img src="{{ asset(numerisation.webPath) }}" width="50" height="50" alt="{{ numerisation.alt }}"/>
							</a>
							</td>
							{% set break = true %}
						{% endif %}
					{% endfor %}
				{% else %}
					<td>Pas de numérisations trouvées pour ce tesson</td>
				{% endif %}
			{% else %}
				{% if tesson.numerisation is not empty %}
							<td>
							<a class="group" title=" {{ tesson.numerisation[0].alt }}" href="{{ asset(tesson.numerisation[0].webPath) }}">
							<img src="{{ asset(tesson.numerisation[0].webPath) }}" width="50" height="50" alt="{{ tesson.numerisation[0].alt }}"/>
							</a>
							</td>
				{% else %}
					<td>Pas de numérisations trouvées pour ce tesson</td>
				{% endif %}
			{% endif %}
		</tr>
    {% endfor %}
	</tbody>
	</table>
{% else %}
    <div class="alert alert-danger" role="alert">
		<p>Aucun tesson trouvé avec les paramètres actuels de recherche</p>
	</div>
{% endif %}

{% if pagination.nbPages > 0 %}
    <ul class="pagination">
        {% if pagination.page > 1 %}
            <li>
                <a href="{{ path(pagination.nomRoute, pagination.paramsRoute|merge({'page': 1, 'typeClassifChoisi': typeClassifChoisi, 'typeNumerisationChoisi': typeNumerisation, 'tessonsClasses': tessonsClasses})) }}">
                    <<
                </a>
            </li>
            <li>
                <a href="{{ path(pagination.nomRoute,
                pagination.paramsRoute|merge({'page': pagination.page-1, 'typeClassifChoisi': typeClassifChoisi, 'typeNumerisationChoisi': typeNumerisation, 'tessonsClasses': tessonsClasses})) }}">
                    <
                </a>
            </li>
        {% endif %}

        {# Affichage de toutes les pages entre p-4 et p+4 sauf si < 1 ou > nbPages #}
        {% for p in range(max(pagination.page-4, 1), min(pagination.page+4, pagination.nbPages)) %}
            <li {% if p == pagination.page %}class="active"{% endif %}>
                <a href="{{ path(pagination.nomRoute, pagination.paramsRoute|merge({'page': p, 'typeClassifChoisi': typeClassifChoisi, 'typeNumerisationChoisi': typeNumerisation, 'tessonsClasses': tessonsClasses})) }}">
                    {{ p }}
                </a>
            </li>
        {% endfor %}

        {% if pagination.page < pagination.nbPages %}
            <li>
                <a href="{{ path(pagination.nomRoute,
                pagination.paramsRoute|merge({'page': pagination.page+1, 'typeClassifChoisi': typeClassifChoisi, 'typeNumerisationChoisi': typeNumerisation, 'tessonsClasses': tessonsClasses})) }}">
                    >
                </a>
            </li>
            <li>
                <a href="{{ path(pagination.nomRoute,
                pagination.paramsRoute|merge({'page': pagination.nbPages})) }}">
                    >>
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}

	<script type="text/javascript">
	$(document).ready(function() {
		$(".group").fancybox();
		
	});
	</script>

{% endblock %}