<div class="list-group">
	{% for tesson in listeTessons %} <a
		href="{{ base_url ~path('lifo_classif_tesson', {'id': tesson.id}) }}"
		class="list-group-item">
		<h4 class="list-group-item-heading">ID : {{ tesson.id }} - Site :
			{{tesson.site.codeINSEE}} {{tesson.site.numSiteCommune}}</h4>
		<p class="list-group-item-text">US : {{tesson.us.nom}} - num Isolation
			: {{ tesson.numIsolation }}</p>
	</a> {% endfor %}
</div>








