<ul class="nav nav-pills nav-stacked">
  {% for tesson in listeTessons %}
    <li>
      <a href="{{ path('lifo_classif_tesson', {'id': tesson.id}) }}">
        ID : {{ tesson.id }} - num Isolation : {{ tesson.numIsolation }} <br/> - Site : {{tesson.site.codeINSEE}} {{tesson.site.numSiteCommune}} <br/> - US : {{tesson.us.nom}}
      </a>
    </li>
	<hr style="width:200px; color:black; background-color:blue; height:1px;" /> 
  {% endfor %}
</ul>