{% extends "LIFOClassifBundle::layoutGeneral.html.twig" %}

{% block title %}{{ parent() }} - Recherche{% endblock %}

{% block LIFOClassif_body %}
<div class="well">
	{%  if messageImportant != "" %}
      <div class="alert alert-warning" role="alert">
		<strong>Attention ! </strong>{{messageImportant}}
	</div>
	{% endif %}
	<p>
		<fieldset>
			<legend>Rechercher par identifiant</legend>
			{{ form_start(formRechercheID, {'name':'formRechercheID' })  }}
			{{ form_rest(formRechercheID) }}
			{{ form_end(formRechercheID) }}
		</fieldset>
	</p>
	<p>
		<fieldset>
			<legend> Rechercher par localisation </legend>
			{{ form_start(formRechercheLocalisation, {'name':'FormRechercheLocalisation' })  }}
			{{ form_rest(formRechercheLocalisation) }}
			{{ form_end(formRechercheLocalisation) }}
		</fieldset>
	</p>
	<p>
		<fieldset>
			<legend>Rechercher par particularités</legend>
			{{ form_start(formRechercheParticularites, {'name':'FormRechercheParticularites' })  }}
			{{ form_rest(formRechercheParticularites) }}
			{{ form_end(formRechercheParticularites) }}
		</fieldset>
<div>
{% endblock %}