
<style>
table, th, td {
    border: 1px solid rgb(220,220,220);
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
td {
    width: 50%;
    text-align: center;
}

th {
    height: 20px;
    text-align: center;
    background-color: rgb(255,250,205);
    border-bottom: 2px solid rgb(220,220,220);
}
</style>

<page>
	<br /><br/>
	<table>
		<tr><th colspan="2"><b>Description du tesson</b></th></tr>
			<tr><td>Identifiant</td><td>{{tesson.id}}</td></tr>
			<tr><td>Année de découverte</td><td>{{tesson.anneeDecouverte}}</td></tr>
			<tr><td>Developpé</td><td>{{tesson.developpe|default('Aucun')}}</td></tr>
			<tr><td>Lot / Individu</td><td>{{tesson.lotIndividu}}</td></tr>
			<tr><td>Numéro de tombe</td><td>{{tesson.numTombe|default('Aucun')}}</td></tr>
			<tr><td>Fait</td><td>{{tesson.fait|default('Aucun')}}</td></tr>
			<tr><td>Commentaire</td><td>{{tesson.commentaire}}</td></tr>
			<tr><td>Date d'enregistrement</td><td>{{tesson.dateEnregistrement|date('Y-m-d')}}</td></tr>
	</table>
	
	<br />
	<br />
	
	<table>
		<tr><th colspan="2"><b>Dimensions</b></th></tr>
			<tr><td>Caractère moyen</td><td>
			{% if tesson.largeur != 0 and tesson.longueur != 0 and tesson.nombreMotifsVerticaux != 0 and tesson.nombreMotifsHorizontaux != 0 %}
				{{ (tesson.longueur+tesson.largeur)/(tesson.nombreMotifsVerticaux + tesson.nombreMotifsHorizontaux) }}
			{% else %}
				0
			{% endif %}</td></tr>
			<tr><td>Largeur</td><td>{{tesson.ordreLargeur}}&nbsp;{{tesson.largeur}}</td></tr>
			<tr><td>Longueur</td><td>{{tesson.ordreLongueur}}&nbsp;{{tesson.longueur}}</td></tr>
			<tr><td>Nombre de motifs verticaux</td><td>{{tesson.ordreMotifsVerticaux}}&nbsp;{{tesson.nombreMotifsVerticaux}}</td></tr>
			<tr><td>Nombre de motifs horizontaux</td><td>{{tesson.ordreMotifsHorizontaux}}&nbsp;{{tesson.nombreMotifsHorizontaux}}</td></tr>
	</table>
	
	<br />
	<br />
	
	<table>
		<tr><th colspan="2"><b>Localisation</b></th></tr>
			<tr><td>Code INSEE</td><td>{{tesson.site.codeINSEE}}</td></tr>
			<tr><td>Numéro de site</td><td>{{tesson.site.numSiteCommune}}</td></tr>
			<tr><td>Zone</td><td>{{tesson.zone.numero|default('Aucune')}}</td></tr>
			<tr><td>US</td><td>{{tesson.us.nom}}</td></tr>
			<tr><td>Numéro d'isolation</td><td>{{tesson.numIsolation}}</td></tr>
	</table>
	
	<br />
	<br />
	
	<table>
		<tr><th colspan="2"><b>Datation</b></th></tr>
			<tr><td>Période</td><td>{{tesson.periode.numeroPeriode|default('Non renseigné')}}</td></tr>
			<tr><td>Phase</td><td>{{tesson.phase.numeroPhase|default('Non renseigné')}}</td></tr>
			<tr><td>Séquence</td><td>{{tesson.sequence.numeroSequence|default('Non renseigné')}}</td></tr>
	</table>
	
	<br />
	<br />
	
	<table>
		<tr><th colspan="2"><b>Décor</b></th></tr>
			<tr><td>Position</td><td>
			{% for position in tesson.decor %}
				{{position.position}}
			{% endfor %}
			</td></tr>
			<tr><td>Type</td><td>
			{% if tesson.typeDecor is not empty %}
				{% for type in tesson.typeDecor %}
					{{type.nom}}
				{% endfor %}
			{% else %}
				Non renseigné
			{% endif %}
			</td></tr>
	</table>

	<br />
	<br />
	<br />
	<br />
	
	<table>
			<tr><th>Type de numérisation</th><th>Numérisation</th></tr>
			{% if tesson.numerisation is not empty %}
				{% for numerisation in tesson.numerisation %}
					<tr><td>{{ numerisation.typeNumerisation.nom }}</td>
						<td><img src="{{ asset(numerisation.webPath) }}" width="300" alt="{{ numerisation.alt }}"/></td>
					</tr>
				{% endfor %}
			{% else %}
			<tr><td>Pas de numérisations trouvées pour ce tesson</td></tr>
			{% endif %}
	</table>
	</page>
