{% extends "LIFOClassifBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Upload{% endblock %}

{% block LIFOClassif_body %}

<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {# Les erreurs générales du formulaire. #}
  {{ form_errors(form) }}

  <div class="form-group">
    {{ form_label(form.anneeDecouverte, "Année de la découverte", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.anneeDecouverte) }}
    <div class="col-sm-10">
      {{ form_widget(form.anneeDecouverte, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
  <div class="form-group">
    {{ form_label(form.developpe, "Développé", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.developpe) }}
    <div class="col-sm-10">
      {{ form_widget(form.developpe, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
  <div class="form-group">
    {{ form_label(form.lotIndividu, "lot/Individu", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.lotIndividu) }}
    <div class="col-sm-10">
      {{ form_widget(form.lotIndividu, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
  <div class="form-group">
    {{ form_label(form.numTombe, "Numéro de tombe", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.numTombe) }}
    <div class="col-sm-10">
      {{ form_widget(form.numTombe, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
  <div class="form-group">
    {{ form_label(form.fait, "Fait", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.fait) }}
    <div class="col-sm-10">
      {{ form_widget(form.fait, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
  <div class="form-group">
    {{ form_label(form.largeur, "Largeur", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.largeur) }}
    <div class="col-sm-1">
      {{ form_widget(form.ordreLargeur, {'attr': {'class': 'form-control'}}) }}
	  </div>
    <div class="col-sm-9">
      {{ form_widget(form.largeur, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
  <div class="form-group">
    {{ form_label(form.longueur, "Longueur", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.longueur) }}
    <div class="col-sm-1">
      {{ form_widget(form.ordreLongueur, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-sm-9">
      {{ form_widget(form.longueur, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
  <div class="form-group">
    {{ form_label(form.commentaire, "Commentaire", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.commentaire) }}
    <div class="col-sm-10">
      {{ form_widget(form.commentaire, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
  <div class="form-group">
    {{ form_label(form.nombreMotifsVerticaux, "Nombre de motifs verticaux", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.nombreMotifsVerticaux) }}
    <div class="col-sm-1">
      {{ form_widget(form.ordreMotifsVerticaux, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-sm-9">
      {{ form_widget(form.nombreMotifsVerticaux, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
  <div class="form-group">
    {{ form_label(form.nombreMotifsHorizontaux, "Nombre de motifs horizontaux", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.nombreMotifsHorizontaux) }}
    <div class="col-sm-1">
      {{ form_widget(form.ordreMotifsHorizontaux, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-sm-9">
      {{ form_widget(form.nombreMotifsHorizontaux, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
  <div class="form-group">
    {{ form_label(form.numIsolation, "Numéro d'isolation", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.numIsolation) }}
    <div class="col-sm-10">
      {{ form_widget(form.numIsolation, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
  <fieldset>
  <legend></legend>
  {{ form_row(form.site) }}
  </fieldset>
  <fieldset>
  <legend></legend>
  {{ form_row(form.US) }}
  </fieldset>
  <fieldset>
  <legend></legend>
  {{ form_row(form.sequence) }}
  </fieldset>
  <fieldset>
  <legend></legend>
  {{ form_row(form.periode) }}
  </fieldset>
  <fieldset>
  <legend></legend>
  {{ form_row(form.phase) }}
  </fieldset>
  <fieldset>
  <legend></legend>
  {{ form_row(form.decor) }}
  </fieldset>
  <fieldset>
  <legend></legend>
  {{ form_row(form.typeDecor) }}
  </fieldset>
  <fieldset>
  <legend></legend>
	{{ form_row(form.numerisation)	}}
  <a href="#" id="add_numerisation" class="btn btn-default">Ajouter une numérisation</a>
</fieldset>
  <br/>
  <br/>

  {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

  {# Génération automatique des champs pas encore écrits.
     et tous les champs cachés (type « hidden »). #}
  {{ form_rest(form) }}

  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
</div>







<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
    var $container = $('div#tesson_numerisation');

    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    var index = $container.find(':input').length;

    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
    $('#add_numerisation').click(function(e) {
      addNumerisation($container);

      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
      return false;
    });

    // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un.
    if (index == 0) {
      addNumerisation($container);
    } else {
      // S'il existe déjà des champs on ajoute un lien de suppression pour chacune d'entre eux
      $container.children('div').each(function() {
        addDeleteLink($(this));
      });
    }

    // La fonction qui ajoute un formulaire
    function addNumerisation($container) {
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
      var template = $container.attr('data-prototype')
        .replace(/__name__label__/g, 'n°' + (index+1))
        .replace(/__name__/g,        index)
      ;

      // On crée un objet jquery qui contient ce template
      var $prototype = $(template);

      // On ajoute au prototype un lien pour pouvoir supprimer
      addDeleteLink($prototype);

      // On ajoute le prototype modifié à la fin de la balise <div>
      $container.append($prototype);

      // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
      index++;
    }

    // La fonction qui ajoute un lien de suppression
    function addDeleteLink($prototype) {
      // Création du lien
      var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

      // Ajout du lien
      $prototype.append($deleteLink);

      // Ajout du listener sur le clic du lien pour effectivement supprimer
      $deleteLink.click(function(e) {
        $prototype.remove();

        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
      });
    }
  });
</script>







{% endblock %}