{% extends "LIFOClassifBundle::layoutGeneral.html.twig" %}

{% block title %}{{ parent() }} - Upload{% endblock %}

{% block LIFOClassif_body %}

<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {# Les erreurs générales du formulaire. #}
  {{ form_errors(form) }}
  <fieldset>
    <legend>&nbsp;&nbsp;Description</legend>
    <div class="form-group">
  	  <div class="col-sm-6">
	    <b>&nbsp;* Année de la découverte</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'Année durant laquelle le tesson a été découvert')" align = "right">
        {{ form_errors(form.anneeDecouverte) }}
   	  </div>
 	  <div class="col-sm-6">
	    <b>&nbsp;* Développé</b>
    	{{ form_errors(form.developpe) }}
  	  </div>
      <div class="col-sm-6">
        {{ form_widget(form.anneeDecouverte) }}
      </div>
      <div class="col-sm-6">
        {{ form_widget(form.developpe) }}
      </div>
    </div>
    <div class="form-group">
  	  <div class="col-sm-6">
	    <b>&nbsp;* Lot/Individu</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'Y a-t-il un ou plusieurs tessons recevant ce même décor ?')" align = "right">
        {{ form_errors(form.lotIndividu) }}
   	  </div>
 	  <div class="col-sm-6">
	    <b>&nbsp;Numéro de tombe</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'A renseigner s\'il a été trouvé dans une sépulture')" align = "right">
    	{{ form_errors(form.numTombe) }}
  	  </div>
      <div class="col-sm-6">
        {{ form_widget(form.lotIndividu) }}
      </div>
      <div class="col-sm-6">
        {{ form_widget(form.numTombe) }}
      </div>
    </div>
    <div class="form-group">
  	  <div class="col-sm-6">
	    <b>&nbsp;Fait</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'Numéro de structure où le tesson a été trouvé,<br />regroupant un ensemble chrono-stratigraphique')" align = "right">
        {{ form_errors(form.fait) }}
   	  </div>
 	  <div class="col-sm-6">
	    <b>&nbsp;* Commentaire</b>
    	{{ form_errors(form.commentaire) }}
  	  </div>
      <div class="col-sm-6">
        {{ form_widget(form.fait) }}
      </div>
      <div class="col-sm-6">
        {{ form_widget(form.commentaire) }}
      </div>
    </div>
  </fieldset>
  <fieldset>
  	<legend>&nbsp;&nbsp;Dimensions</legend>
  	<div class="form-group">
  	  <div class="col-sm-6">
	    <b>&nbsp;* Largeur</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'Hauteur en centimètres du décor')" align = "right">
        {{ form_errors(form.largeur) }}
   	  </div>
 	  <div class="col-sm-6">
	    <b>&nbsp;* Longueur</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'Longueur en centimètres du décor')" align = "right">
    	{{ form_errors(form.longueur) }}
  	  </div>
  	  <div class="col-sm-1">
  	  	{{ form_widget(form.ordreLargeur) }}
  	  </div>
      <div class="col-sm-5">
        {{ form_widget(form.largeur) }}
      </div>
  	  <div class="col-sm-1">
  	  	{{ form_widget(form.ordreLongueur) }}
  	  </div>
      <div class="col-sm-5">
        {{ form_widget(form.longueur) }}
      </div>
    </div>
  	<div class="form-group">
  	  <div class="col-sm-6">
	    <b>&nbsp;* Nombre de motifs verticaux</b>
        {{ form_errors(form.nombreMotifsVerticaux) }}
   	  </div>
 	  <div class="col-sm-6">
	    <b>&nbsp;* Nombre de motifs horizontaux</b>
    	{{ form_errors(form.nombreMotifsHorizontaux) }}
  	  </div>
  	  <div class="col-sm-1">
  	  	{{ form_widget(form.ordreMotifsVerticaux) }}
  	  </div>
      <div class="col-sm-5">
        {{ form_widget(form.nombreMotifsVerticaux) }}
      </div>
  	  <div class="col-sm-1">
  	  	{{ form_widget(form.ordreMotifsHorizontaux) }}
  	  </div>
      <div class="col-sm-5">
        {{ form_widget(form.nombreMotifsHorizontaux) }}
      </div>
    </div>
  </fieldset>
  <fieldset>
  	<legend>&nbsp;&nbsp;Localisation</legend>
    <div class="form-group">
  	  <div class="col-sm-4">
	    <b>&nbsp;* Code INSEE</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'Code INSEE à 5 chiffres de la commune')" align = "right">
        {{ form_errors(form.site.codeINSEE) }}
   	  </div>
 	  <div class="col-sm-4">
	    <b>&nbsp;* Numéro de site</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'Numéro du site fouillé de la commune')" align = "right">
    	{{ form_errors(form.site.numSiteCommune) }}
  	  </div>
 	  <div class="col-sm-4">
	    <b>&nbsp;Zone</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'Zone du site fouillée')" align = "right">
    	{{ form_errors(form.zone.numero) }}
  	  </div>
      <div class="col-sm-4">
        {{ form_widget(form.site.codeINSEE) }}
      </div>
      <div class="col-sm-4">
        {{ form_widget(form.site.numSiteCommune) }}
      </div>
      <div class="col-sm-4">
        {{ form_widget(form.zone.numero) }}
      </div>
    </div>
    <div class="form-group">
  	  <div class="col-sm-4">
	    <b>&nbsp;* Nom de l'US</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'Unité stratigraphique')" align = "right">
        {{ form_errors(form.US.nom) }}
   	  </div>
 	  <div class="col-sm-4">
	    <b>&nbsp;* Description de l'US</b>
    	{{ form_errors(form.US.description) }}
  	  </div>
 	  <div class="col-sm-4">
	    <b>&nbsp;* Numéro d'isolation</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'Permet l\'unicité d\'un tesson<br />une fois couplé à un site et un us')" align = "right">
    	{{ form_errors(form.numIsolation) }}
  	  </div>
      <div class="col-sm-4">
        {{ form_widget(form.US.nom) }}
      </div>
      <div class="col-sm-4">
        {{ form_widget(form.US.description) }}
      </div>
      <div class="col-sm-4">
        {{ form_widget(form.numIsolation) }}
      </div>
    </div>
  </fieldset>
  <fieldset>
  	<legend>&nbsp;&nbsp;Datation</legend>
    <div class="form-group">
      <div class="col-sm-2">
      	<b>&nbsp;Période</b>
      </div>
  	  <div class="col-sm-4">
	    <b>&nbsp;Numéro</b>
        {{ form_errors(form.periode.numeroPeriode) }}
   	  </div>
 	  <div class="col-sm-6">
	    <b>&nbsp;Description</b>
    	{{ form_errors(form.periode.description) }}
  	  </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-4">
        {{ form_widget(form.periode.numeroPeriode) }}
      </div>
      <div class="col-sm-6">
        {{ form_widget(form.periode.description) }}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2">
      	<b>&nbsp;Phase</b>
      </div>
  	  <div class="col-sm-4">
	    <b>&nbsp;Numéro</b>
        {{ form_errors(form.phase.numeroPhase) }}
   	  </div>
 	  <div class="col-sm-6">
	    <b>&nbsp;Description</b>
    	{{ form_errors(form.phase.description) }}
  	  </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-4">
        {{ form_widget(form.phase.numeroPhase) }}
      </div>
      <div class="col-sm-6">
        {{ form_widget(form.phase.description) }}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2">
      	<b>&nbsp;Séquence</b>
      </div>
  	  <div class="col-sm-4">
	    <b>&nbsp;Numéro</b>
        {{ form_errors(form.sequence.numeroSequence) }}
   	  </div>
 	  <div class="col-sm-6">
	    <b>&nbsp;Description</b>
    	{{ form_errors(form.sequence.description) }}
  	  </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-4">
        {{ form_widget(form.sequence.numeroSequence) }}
      </div>
      <div class="col-sm-6">
        {{ form_widget(form.sequence.description) }}
      </div>
    </div>
  </fieldset>
  <fieldset>
  	<legend>&nbsp;&nbsp;Décor</legend>
  	<div class="form-group">
  	  <div class="col-sm-6">
	    <b>&nbsp;Position&nbsp;&nbsp;</b>
        {{ form_errors(form.decor) }}
   	  </div>
 	  <div class="col-sm-6">
	    <b>&nbsp;Type&nbsp;&nbsp;</b>
    	{{ form_errors(form.typeDecor) }}
  	  </div>
      <div class="col-sm-6">
        {{ form_widget(form.decor) }}
      </div>
      <div class="col-sm-6">
        {{ form_widget(form.typeDecor) }}
      </div>
    </div>
  </fieldset>
  <fieldset>
  	<legend>&nbsp;&nbsp;Molette</legend>
  	<div class="form-group">
  	  <div class="col-sm-6">
	    <b>&nbsp;Nom</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'Code alphanumérique de la molette')" align="right">
        {{ form_errors(form.tessonMolette.molette.nom) }}
   	  </div>
 	  <div class="col-sm-6">
	    <b>&nbsp;Description</b>
    	{{ form_errors(form.tessonMolette.molette.description) }}
 	  </div>
      <div class="col-sm-6">
        {{ form_widget(form.tessonMolette.molette.nom) }}
      </div>
      <div class="col-sm-6">
        {{ form_widget(form.tessonMolette.molette.description) }}
      </div>
    </div>
  	<div class="form-group">
  	  <div class="col-sm-6">
	    <b>&nbsp;Égal ou équivalent&nbsp;&nbsp;</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'<b>egal</b> est une correspondance sur le répertoire<br />tandis qu\'<b>equi</b> s\'en rapproche seulement')">
        {{ form_errors(form.tessonMolette.egal) }}
   	  </div>
 	  <div class="col-sm-6">
	    <b>&nbsp;Référence&nbsp;&nbsp;</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'Matrice complète ou réputée comme telle<br />qui servira de référence pour l\'appariement')">
    	{{ form_errors(form.tessonMolette.molette.reference) }}
 	  </div>
      <div class="col-sm-6">
        {{ form_widget(form.tessonMolette.egal) }}
      </div>
      <div class="col-sm-6">
        {{ form_widget(form.tessonMolette.molette.reference) }}
      </div>
    </div>
  </fieldset>

  <fieldset>
  	<legend>&nbsp;&nbsp;Numérisations</legend>
  	<div class="form-group">
  	  <div class="col-sm-4" align="center">
	    <b>&nbsp;Fichier&nbsp;&nbsp;</b>
   	  </div>
 	  <div class="col-sm-8" align="center">
	    <b>&nbsp;Type&nbsp;&nbsp;</b>
  	  </div>
      {% for numerisation in form.numerisation %}
      <div class="col-sm-4">
        {{ form_widget(numerisation.file) }}
    	{{ form_errors(numerisation.file) }}
      </div>
      <div class="col-sm-8">
        {{ form_widget(numerisation.typeNumerisation) }}
        {{ form_errors(numerisation.typeNumerisation) }}
      </div>
      {% endfor %}
    </div>
  </fieldset>

  <br />
  <br />

  {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-primary'}}) }}

  {# Génération automatique des champs pas encore écrits.
     et tous les champs cachés (type « hidden »). #}
  {{ form_rest(form) }}

  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
</div>
<p>* Les champs précédés d'un astérisque sont obligatoires. Il faut soit leur laisser leur valeur par défaut (s'ils en ont une et qu'elle est juste), soit rentrer une nouvelle valeur (s'il n'y a pas de valeur par défaut ou que celle-ci n'est pas juste)</p>
{% endblock %}