{% extends "LIFOClassifBundle::layoutGeneral.html.twig" %}

{% block title %}{{ parent() }} - Upload{% endblock %}

{% block LIFOClassif_body %}

<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {# Les erreurs générales du formulaire. #}
  {{ form_errors(form) }}
  <fieldset>
    <legend>&nbsp;&nbsp;Description</legend>
    <div class="form-group">
  	  <div class="col-sm-6">
	    <b>&nbsp;Année de la découverte</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'bite')" align = "right">
        {{ form_errors(form.anneeDecouverte) }}
   	  </div>
 	  <div class="col-sm-6">
	    <b>&nbsp;Développé</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'bite')" align = "right">
    	{{ form_errors(form.developpe) }}
  	  </div>
      <div class="col-sm-6">
        {{ form_widget(form.anneeDecouverte, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="col-sm-6">
        {{ form_widget(form.developpe, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
    <div class="form-group">
  	  <div class="col-sm-6">
	    <b>&nbsp;Lot/Individu</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'bite')" align = "right">
        {{ form_errors(form.lotIndividu) }}
   	  </div>
 	  <div class="col-sm-6">
	    <b>&nbsp;Numéro de tombe</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'bite')" align = "right">
    	{{ form_errors(form.numTombe) }}
  	  </div>
      <div class="col-sm-6">
        {{ form_widget(form.lotIndividu, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="col-sm-6">
        {{ form_widget(form.numTombe, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
    <div class="form-group">
  	  <div class="col-sm-6">
	    <b>&nbsp;Fait</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'bite')" align = "right">
        {{ form_errors(form.fait) }}
   	  </div>
 	  <div class="col-sm-6">
	    <b>&nbsp;Commentaire</b>
    	{{ form_errors(form.commentaire) }}
  	  </div>
      <div class="col-sm-6">
        {{ form_widget(form.fait, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="col-sm-6">
        {{ form_widget(form.commentaire, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
  </fieldset>
  <fieldset>
  	<legend>&nbsp;&nbsp;Dimensions</legend>
  	<div class="form-group">
  	  <div class="col-sm-6">
	    <b>&nbsp;Largeur</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'bite')" align = "right">
        {{ form_errors(form.largeur) }}
   	  </div>
 	  <div class="col-sm-6">
	    <b>&nbsp;Longueur</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'bite')" align = "right">
    	{{ form_errors(form.longueur) }}
  	  </div>
  	  <div class="col-sm-1">
  	  	{{ form_widget(form.ordreLargeur) }}
  	  </div>
      <div class="col-sm-5">
        {{ form_widget(form.largeur, {'attr': {'class': 'form-control'}}) }}
      </div>
  	  <div class="col-sm-1">
  	  	{{ form_widget(form.ordreLongueur) }}
  	  </div>
      <div class="col-sm-5">
        {{ form_widget(form.longueur, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
  	<div class="form-group">
  	  <div class="col-sm-6">
	    <b>&nbsp;Nombre de motifs verticaux</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'bite')" align = "right">
        {{ form_errors(form.nombreMotifsVerticaux) }}
   	  </div>
 	  <div class="col-sm-6">
	    <b>&nbsp;Nombre de motifs horizontaux</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'bite')" align = "right">
    	{{ form_errors(form.nombreMotifsHorizontaux) }}
  	  </div>
  	  <div class="col-sm-1">
  	  	{{ form_widget(form.ordreMotifsVerticaux) }}
  	  </div>
      <div class="col-sm-5">
        {{ form_widget(form.nombreMotifsVerticaux, {'attr': {'class': 'form-control'}}) }}
      </div>
  	  <div class="col-sm-1">
  	  	{{ form_widget(form.ordreMotifsHorizontaux) }}
  	  </div>
      <div class="col-sm-5">
        {{ form_widget(form.nombreMotifsHorizontaux, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
  </fieldset>
  <fieldset>
  	<legend>&nbsp;&nbsp;Localisation</legend>
    <div class="form-group">
  	  <div class="col-sm-4">
	    <b>&nbsp;Code INSEE</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'bite')" align = "right">
        {{ form_errors(form.site.codeINSEE) }}
   	  </div>
 	  <div class="col-sm-4">
	    <b>&nbsp;Numéro de site</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'bite')" align = "right">
    	{{ form_errors(form.site.numSiteCommune) }}
  	  </div>
 	  <div class="col-sm-4">
	    <b>&nbsp;Zone</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'bite')" align = "right">
    	{{ form_errors(form.zone.numero) }}
  	  </div>
      <div class="col-sm-4">
        {{ form_widget(form.site.codeINSEE, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="col-sm-4">
        {{ form_widget(form.site.numSiteCommune, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="col-sm-4">
        {{ form_widget(form.zone.numero, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
    <div class="form-group">
  	  <div class="col-sm-4">
	    <b>&nbsp;Nom de l'US</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'bite')" align = "right">
        {{ form_errors(form.US.nom) }}
   	  </div>
 	  <div class="col-sm-4">
	    <b>&nbsp;Description de l'US</b>
    	{{ form_errors(form.US.description) }}
  	  </div>
 	  <div class="col-sm-4">
	    <b>&nbsp;Numéro d'isolation</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'bite')" align = "right">
    	{{ form_errors(form.numIsolation) }}
  	  </div>
      <div class="col-sm-4">
        {{ form_widget(form.US.nom, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="col-sm-4">
        {{ form_widget(form.US.description, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="col-sm-4">
        {{ form_widget(form.numIsolation, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
  </fieldset>
  <fieldset>
  	<legend>Datation</legend>
    <div class="form-group">
      <div class="col-sm-2">
      	<b>&nbsp;Période</b>
      </div>
  	  <div class="col-sm-4">
	    <b>&nbsp;Numéro</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'bite')" align = "right">
        {{ form_errors(form.periode.numeroPeriode) }}
   	  </div>
 	  <div class="col-sm-6">
	    <b>&nbsp;Description</b>
    	{{ form_errors(form.periode.description) }}
  	  </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-4">
        {{ form_widget(form.periode.numeroPeriode, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="col-sm-6">
        {{ form_widget(form.periode.description, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2">
      	<b>&nbsp;Phase</b>
      </div>
  	  <div class="col-sm-4">
	    <b>&nbsp;Numéro</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'bite')" align = "right">
        {{ form_errors(form.phase.numeroPhase) }}
   	  </div>
 	  <div class="col-sm-6">
	    <b>&nbsp;Description</b>
    	{{ form_errors(form.phase.description) }}
  	  </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-4">
        {{ form_widget(form.phase.numeroPhase, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="col-sm-6">
        {{ form_widget(form.phase.description, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2">
      	<b>&nbsp;Séquence</b>
      </div>
  	  <div class="col-sm-4">
	    <b>&nbsp;Numéro</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'bite')" align = "right">
        {{ form_errors(form.sequence.numeroSequence) }}
   	  </div>
 	  <div class="col-sm-6">
	    <b>&nbsp;Description</b>
    	{{ form_errors(form.sequence.description) }}
  	  </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-4">
        {{ form_widget(form.sequence.numeroSequence, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="col-sm-6">
        {{ form_widget(form.sequence.description, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
  </fieldset>
  <fieldset>
  	<legend>Décor</legend>
  	<div class="form-group">
  	  <div class="col-sm-6">
	    <b>&nbsp;Position&nbsp;&nbsp;</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'bite')">
        {{ form_errors(form.decor) }}
   	  </div>
 	  <div class="col-sm-6">
	    <b>&nbsp;Type&nbsp;&nbsp;</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'bite')"	>
    	{{ form_errors(form.typeDecor) }}
  	  </div>
      <div class="col-sm-6">
        {{ form_widget(form.decor) }}
      </div>
      <div class="col-sm-6">
        {{ form_widget(form.typeDecor) }}
      </div>
    </div>
  </fieldset>
  <fieldset>
  	<legend>Molette</legend>
  	<div class="form-group">
  	  <div class="col-sm-6">
	    <b>&nbsp;Nom</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'bite')" align="right">
        {{ form_errors(form.tessonMolette.molette.nom) }}
   	  </div>
 	  <div class="col-sm-6">
	    <b>&nbsp;Description</b>
    	{{ form_errors(form.tessonMolette.molette.description) }}
 	  </div>
      <div class="col-sm-6">
        {{ form_widget(form.tessonMolette.molette.nom) }}
      </div>
      <div class="col-sm-6">
        {{ form_widget(form.tessonMolette.molette.description) }}
      </div>
    </div>
  	<div class="form-group">
  	  <div class="col-sm-6">
	    <b>&nbsp;Égal ou équivalent&nbsp;&nbsp;</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'bite')">
        {{ form_errors(form.tessonMolette.egal) }}
   	  </div>
 	  <div class="col-sm-6">
	    <b>&nbsp;Référence&nbsp;&nbsp;</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'bite')">
    	{{ form_errors(form.tessonMolette.molette.reference) }}
 	  </div>
      <div class="col-sm-6">
        {{ form_widget(form.tessonMolette.egal) }}
      </div>
      <div class="col-sm-6">
        {{ form_widget(form.tessonMolette.molette.reference) }}
      </div>
    </div>
  </fieldset>
  
  <fieldset>
    <legend>Numérisations</legend>
    {% if form.numerisation is not empty %}
  	<div class="form-group">
  	  <div class="col-sm-6">
	    <b>&nbsp;Fichier&nbsp;&nbsp;</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'bite')">
        {{ form_errors(form.numerisation.file) }}
   	  </div>
 	  <div class="col-sm-6">
	    <b>&nbsp;Type&nbsp;&nbsp;</b>
		<img src= "{{ asset ('info.png') }}" width="18" height="18" onmouseover="FoToolTip.show(this,'bite')">
    	{{ form_errors(form.numerisation.typeNumerisation) }}
 	  </div>
      <div class="col-sm-6">
        {{ form_widget(form.numerisation.file) }}
      </div>
      <div class="col-sm-6">
        {{ form_widget(form.tessonMolette.numerisation.typeNumerisation) }}
      </div>
  	<a href="#" id="add_numerisation" class="btn btn-default">Ajouter une numérisation</a>
    </div>
    {% endif %}
  </fieldset>
  <br />
  <br />

  {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-primary'}}) }}

  {# Génération automatique des champs pas encore écrits.
     et tous les champs cachés (type « hidden »). #}
  {{ form_rest(form) }}

  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
</div>







<script src=" {{ asset('bootstrap/js/jquery.min.js') }}"></script>

<script type="text/javascript">


  $(document).ready(function() {
    // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
    var $container = $('div#tesson_numerisation');

    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    var index = $container.find(':input').length;

    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
    $('#add_numerisation').click(function(e) {
      addNumerisation($container);

      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
      return false;
    });

    // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un.
    if (index == 0) {
      addNumerisation($container);
    } else {
      // S'il existe déjà des champs on ajoute un lien de suppression pour chacune d'entre eux
      $container.children('div').each(function() {
        addDeleteLink($(this));
      });
    }

    // La fonction qui ajoute un formulaire
    function addNumerisation($container) {
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
      var template = $container.attr('data-prototype')
        .replace(/__name__label__/g, 'n°' + (index+1))
        .replace(/__name__/g,        index)
      ;

      // On crée un objet jquery qui contient ce template
      var $prototype = $(template);

      // On ajoute au prototype un lien pour pouvoir supprimer
      addDeleteLink($prototype);

      // On ajoute le prototype modifié à la fin de la balise <div>
      $container.append($prototype);

      // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
      index++;
    }

    // La fonction qui ajoute un lien de suppression
    function addDeleteLink($prototype) {
      // Création du lien
      var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

      // Ajout du lien
      $prototype.append($deleteLink);

      // Ajout du listener sur le clic du lien pour effectivement supprimer
      $deleteLink.click(function(e) {
        $prototype.remove();

        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
      });
    }
  });
</script>







{% endblock %}