{% extends "LIFOClassifBundle::layoutGeneral.html.twig" %}
{% block LIFOClassif_body %}

<div class="well">
	<fieldset>
		<legend>Ajout</legend>
			{{ form_start(formAjoutTypeDecor, {'name':'formAjoutTypeDecor' })  }}
			{{ form_rest(formAjoutTypeDecor) }}
			{{ form_end(formAjoutTypeDecor) }}
	</fieldset>
	<fieldset>
		<legend>Suppression</legend>
			{{ form_start(formSuppressionTypeDecor, {'name':'formSuppressionTypeDecor' })  }}
			{{ form_rest(formSuppressionTypeDecor) }}
			{{ form_end(formSuppressionTypeDecor) }}
	</fieldset>
</div>

{% endblock %}
